body {
    font-family: Arial, sans-serif;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50; /* color verde */
    color: white; /* texto blanco */
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049; /* color verde oscuro al pasar el ratón por encima */
}
